<h1>Pet Shop</h1>

<ul>
  <li>Purebred Lynx Point Oriental Shorthair | 8 years | Female | Four Paw Declawed | $350 | Kenosha, WI</li>
  <li>White, Brown Tabby Maine Coon | 10 years | Male | Front Declawed | $150 (each) | Kenosha, WI</li>
  <li>Blue Point Tonkinese | 1 year | Male | Has Claws | $400 | Oregon, WI</li>
  <li>Tortie Point Himalayan | 1 year | Female | Has Claws | $450 | Marengo, IL</li>
  <li>Blue Wiemerainer | 2 years | Male | Calm | $350 | Peoria, IL</li>
</ul>

<h2>Contact Midwest Online Pet Shop to adopt today!!</h2>
<h2>(414) 899-0299</h2>